body{
    background: rgb(204,204,204); 
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
code{
    background-color: rgb(176, 250, 185);
}